<h3>Edit Author Form</h3>

<h3>Post Form</h3>

<%= form_for(@author) do |f| %>
  <label> Name:</label><br>
  <%= f.text_field :name %><br>

  <label>email</label><br>
  <%= f.text_area :email %><br>

  <label>Phone number</label><br>
  <%= f.text_area :phone_number %><br>

  <%= f.submit %>
<% end %>
