<h2><%= @author.name %></h2>
<p><a href="mailto:<%= @author.email %>"><%= @author.email %></a> </p>
<p>Tel. <%= @author.phone_number %></p>


</ul>


<footer>
<button><%= link_to "Edit", edit_author_path(@author) %></button>
</footer>

