<!DOCTYPE html>
<html>
<head>
  <title>ValidationsInControllerActionsRailsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<button><%= link_to "Create an author", new_author_path  %></button>
<button><%= link_to "Authors", authors_path  %></button>
<button><%= link_to "Posts", posts_path  %></button>


<%= yield %>

</body>
</html>
